@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");
:root {
  /* avatar-size */
  --avatar-size-xsmall: 3rem;
  --avatar-size-small: 4rem;
  --avatar-size-medium: 4.8rem;
  --avatar-size-large: 6.4rem;
  --avatar-size-xlarge: 14.5rem;

  /* border-radius */
  --border-radius-none: 0;
  --border-radius-small: 0.2rem;
  --border-radius-medium: 0.4rem;
  --border-radius-large: 0.6rem;
  --border-radius-extra-large: 1rem;
  --border-radius-super-extra-large: 1.6rem;
  --border-radius-super-mega-extra-large: 3rem;
  --border-radius-rounded: 9000px;

  --color-key: #fa586a;
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;
  --color-grey-1: #0e1010;
  --color-grey-2: #181b1b;
  --color-grey-3: #1f2223;
  --color-grey-4: #262b2c;
  --color-grey-5: #323839;
  --color-grey-6: #3b4344;
  --color-grey-7: #535d5f;
  --color-grey-8: #849194;
  --color-grey-9: #adb6b8;
  --color-grey-10: #c8cfd0;
  --color-grey-11: #d3d8d9;
  --color-grey-12: #dee2e3;
  --color-grey-13: #e6e9ea;
  --color-grey-14: #f7f8f8;
  --color-grey-15: #fefefe;
  --color-opac-b-1: rgba(0, 0, 0, 0.05);
  --color-opac-b-2: rgba(0, 0, 0, 0.1);
  --color-opac-b-3: rgba(0, 0, 0, 0.15);
  --color-opac-b-4: rgba(0, 0, 0, 0.2);
  --color-opac-b-5: rgba(0, 0, 0, 0.25);
  --color-opac-b-6: rgba(0, 0, 0, 0.3);
  --color-opac-b-7: rgba(0, 0, 0, 0.4);
  --color-opac-b-8: rgba(0, 0, 0, 0.5);
  --color-opac-b-9: rgba(0, 0, 0, 0.6);
  --color-opac-b-10: rgba(0, 0, 0, 0.7);
  --color-opac-b-11: rgba(0, 0, 0, 0.75);
  --color-opac-b-12: rgba(0, 0, 0, 0.8);
  --color-opac-b-13: rgba(0, 0, 0, 0.85);
  --color-opac-b-14: rgba(0, 0, 0, 0.9);
  --color-opac-b-15: rgba(0, 0, 0, 0.95);
  --color-opac-w-1: hsla(0, 0%, 100%, 0.05);
  --color-opac-w-2: hsla(0, 0%, 100%, 0.1);
  --color-opac-w-3: hsla(0, 0%, 100%, 0.15);
  --color-opac-w-4: hsla(0, 0%, 100%, 0.2);
  --color-opac-w-5: hsla(0, 0%, 100%, 0.25);
  --color-opac-w-6: hsla(0, 0%, 100%, 0.3);
  --color-opac-w-7: hsla(0, 0%, 100%, 0.4);
  --color-opac-w-8: hsla(0, 0%, 100%, 0.5);
  --color-opac-w-9: hsla(0, 0%, 100%, 0.6);
  --color-opac-w-10: hsla(0, 0%, 100%, 0.7);
  --color-opac-w-11: hsla(0, 0%, 100%, 0.75);
  --color-opac-w-12: hsla(0, 0%, 100%, 0.8);
  --color-opac-w-13: hsla(0, 0%, 100%, 0.85);
  --color-opac-w-14: hsla(0, 0%, 100%, 0.9);
  --color-opac-w-15: hsla(0, 0%, 100%, 0.95);

  /* font-size */
  --font-size-1: 5.4rem;
  --font-size-2: 3.6rem;
  --font-size-3: 3.2rem;
  --font-size-4: 2.4rem;
  --font-size-5: 1.8rem;
  --font-size-6: 1.6rem;
  --font-size-7: 1.4rem;
  --font-size-8: 1.3rem;
  --font-size-9: 1.2rem;
  --font-size-base: 1.6rem;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  /* line-height */
  --line-height-body: 1.5;
  --line-height-heading: 1.2;

  /* line-height */
  --line-height-body: 1.5;
  --line-height-heading: 1.2;

  /* z-index */
  --z-index-modal: 5000;
  --z-index-notification: 4000;
  --z-index-overlay: 3000;
  --z-index-balloon: 2000;
  --z-index-sticky: 1000;
  --z-index-above: 10;
  --z-index-default: 1;
  --z-index-below: -1;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", -apple-system, "BlinkMacSystemFont", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
  background-color: var(--color-background-body);
  font-size: var(--font-size-base);
  color: var(--color-text-base);
}

:root[data-theme="light"] {
  /* body */
  --color-background-body: var(--color-grey-14);
  --color-background-base: var(--color-white);

  /* avatar */
  --color-avatar-wrapper: var(--color-grey-15);

  /* font */
  --color-text-base: var(--color-grey-1);
  --color-text-alt: var(--color-grey-7);
  --color-text-accent: var(--color-key);

  /* button */
  --color-background-button: var(--color-white);

  /* skill chip*/
  --color-background-skill-chip: var(--color-grey-15);
  --color-background-skill-chip-hover: var(--color-grey-13);

  /* switch */
  --color-background-toggle-handle: var(--color-grey-1);
  --color-background-toggle-handle-checked: var(--color-key);
  --color-border-toggle: var(--color-opac-b-9);
  --color-border-toggle-hover: var(--color-grey-1);
  --color-border-toggle-checked: var(--color-telele-orange-9);
  --color-border-toggle-checked-hover: var(--color-telele-orange-8);
  --color-text-toggle-checked-icon: var(--color-telele-orange);

  /* shadow */
  --shadow-elevation-1: 0 1px 2px var(--color-opac-b-3), 0 0px 2px var(--color-opac-b-2);
  --shadow-elevation-2: 0 4px 8px var(--color-opac-b-4), 0 0px 4px var(--color-opac-b-1);
  --shadow-elevation-3: 0 6px 16px var(--color-opac-b-4), 0 0px 4px var(--color-opac-b-1);
  --shadow-elevation-4: 0 12px 32px var(--color-opac-b-4), 0 0px 8px var(--color-opac-b-1);
  --shadow-elevation-5: 0 32px 64px var(--color-opac-b-4), 0 0px 16px var(--color-opac-b-1);
}

:root[data-theme="dark"] {
  /* body */
  --color-background-body: var(--color-grey-4);
  --color-background-base: var(--color-grey-3);

  /* avatar */
  --color-avatar-wrapper: var(--color-grey-15);

  /* font */
  --color-text-base: var(--color-white);
  --color-text-alt: var(--color-grey-8);
  --color-text-accent: var(--color-key);

  /* button */
  --color-background-button: var(--color-grey-5);

  /* social link */
  --color-background-social-link: var(--color-white);

  /* skill chip*/
  --color-background-skill-chip: var(--color-grey-5);
  --color-background-skill-chip-hover: var(--color-grey-7);

  /* switch */
  --color-background-toggle-handle: var(--color-white);
  --color-background-toggle-handle-checked: var(--color-key);
  --color-border-toggle: var(--color-opac-w-10);
  --color-border-toggle-hover: var(--color-white);
  --color-border-toggle-checked: var(--color-telele-orange-9);
  --color-border-toggle-checked-hover: var(--color-telele-orange-10);
  --color-text-toggle-checked-icon: var(--color-key);

  /* shadows */
  --shadow-elevation-1: 0 1px 2px var(--color-opac-b-14), 0 0px 2px var(--color-opac-b-14);
  --shadow-elevation-2: 0 4px 8px var(--color-opac-b-7), 0 0px 4px var(--color-opac-b-7);
  --shadow-elevation-3: 0 6px 16px var(--color-opac-b-8), 0 0px 4px var(--color-opac-b-7);
  --shadow-elevation-4: 0 12px 32px var(--color-opac-b-8), 0 0px 8px var(--color-opac-b-7);
  --shadow-elevation-5: 0 32px 64px var(--color-opac-b-9), 0 0px 16px var(--color-opac-b-7);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
